@page
@model Meni
@{
    ViewData["Title"] = "MENU";
}

<div class="text-center">
    <p>
        W bazie jest @Model.Records.Count() dań. Lista
        dań:
        </div>
    </p>
    @foreach (var item in Model.Records)
    {
        <p>@item.Name @item.Price </p>
    }


</div>